<o-form service="employees" entity="employeeProject" keys="id_employee_project" header-actions="R;I;U;D" show-header-navigation="yes">
  <o-integer-input attr="id_employee_project" sql-type="INTEGER" enabled="no"></o-integer-input>
  <o-row>
    <o-list-picker attr="id_employee" service="employees" entity="employee" value-column="id_employee" columns="id_employee;name;surname"
    visible-columns="surname;name" separator=", " required="yes">
    </o-list-picker>
  </o-row>
  <o-row>
    <o-list-picker attr="id_project" service="projects" entity="project" value-column="id_project" columns="id_project;name"
        visible-columns="name" separator=", " required="yes">
    </o-list-picker>
  </o-row>
  <o-row>
    <o-text-input class="input-padding" attr="employee_involvement_in_project" required="yes" fxFlex="40"></o-text-input>
  </o-row>
</o-form>
