<o-form service="employees" entity="employeeProject" keys="id_employee_project" header-actions="R;I;U;D" show-header-navigation="yes">
  <o-integer-input attr="id_employee_project" sql-type="INTEGER" enabled="no"></o-integer-input>
  <o-row>
    <o-column title-label="EMPLOYEE_PROJECT_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="id_employee_project" required="yes" fxFlex="40"></o-text-input>
        <o-text-input class="input-padding" attr="id_employee" required="yes" fxFlex="40"></o-text-input>
        <o-text-input class="input-padding" attr="id_project" required="yes" fxFlex="40"></o-text-input>
        <o-text-input class="input-padding" attr="employee_involvement_in_project" required="yes" fxFlex="40"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>
