<div fxLayout="column">
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'TOTAL_PROJECTS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ projectAmount }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'PENDING_PROJECTS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ pendingProjects }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'INPROCESS_PROJECTS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ inProcessProjects }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'FINISHED_PROJECTS' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ finishedProjects }}</p>
  </div>
</div>
