<div fxLayout="column">
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title" fxFlex>{{ 'TOTAL_EMPLOYEES' | oTranslate }}</p>
    <p class="home-card-home-amount" fxFlex>{{ employeeAmount }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title2" fxFlex>{{ 'DEVELOPERS' | oTranslate }}</p>
    <p class="home-card-home-amount2" fxFlex>{{ developersAmount }}</p>
  </div>
  <div fxLayoutAlign="space-between center" >
    <p class="home-card-title2" fxFlex>{{ 'MANAGERS' | oTranslate }}</p>
    <p class="home-card-home-amount2" fxFlex>{{ inChargeAmount }}</p>
  </div>
</div>
