<o-form service="projects" entity="project" keys="id_project" header-actions="R;I;U;D" show-header-navigation="yes">
  <o-integer-input attr="id_project" sql-type="INTEGER" enabled="no"></o-integer-input>
  <o-row>
    <o-column title-label="PROJECT_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" required="yes" fxFlex="40"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
  <o-row>
    <o-column title="{{ 'PROJECT_INFORMATION' | oTranslate }}">
    <o-table fxFlex service="employeesProjects" entity="employeeProject" parent-keys="id_project"
       columns="id_employee_project;id_employee;id_project;employee_involvement_in_project"
       visible-columns="id_employee;employee_involvement_in_project"
       insert-button="no" query-rows="5">
       <o-table-column attr="id_employee" title="id_employee" class="o-table-column-centered"></o-table-column>
       <o-table-column attr="employee_involvement_in_project" title="employee_involvement_in_project" class="o-table-column-centered"></o-table-column>
    </o-table>
  </o-column>
  </o-row>
</o-form>
