<o-form service="projects" entity="project" keys="id_project" header-actions="R;I;U;D" show-header-navigation="yes">
  <o-integer-input attr="id_project" sql-type="INTEGER" enabled="no"></o-integer-input>
  <o-row>
    <o-text-input class="input-padding" attr="name" required="yes" fxFlex="40"></o-text-input>
  </o-row>
  <o-row>
    <o-combo attr="status" read-only="no" label="Select status" [static-data]="statusArray"
      value-column="statusCode" columns="statusCode;statusText"
      visible-columns="statusText" null-selection="no" required="yes" translate="yes">
    </o-combo>
  </o-row>
    <o-column title="{{ 'EMPLOYEES_ASSIGNMENTS' | oTranslate }}">
    <o-table #projectsTable attr="projectsTable" service="employees" entity="employeeProjectDetails" parent-keys="id_project"
       keys="id_employee_project" columns="id_employee_project;id_employee;id_project;employee_involvement_in_project;employee_name;surname"
       visible-columns="employee_name;employee_involvement_in_project;surname" delete-button="no"
       insert-button="yes" detail-mode="click">
       </o-table>
       <!-- <o-button (click)="openAssignmentDetailSelected()" label="{{ 'OPEN_ASSIGNMENT_SELECTED' | oTranslate }}"></o-button> -->
    </o-column>
</o-form>
